
@using Neodynamic.SDK.Web
@{
    ViewBag.Title = "Start";
    Layout = "~/Views/CodeGenerator/_CodeGeneratorLayout.cshtml";
}




<div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <h2>Utility Code Generator</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <h3 class="panel-title">Configuration Check</h3>
            </div>
            <div class="panel-body">

                @* Detection Script Section - Hide upon Success *@

                <div id="msgInProgress" style="width: 100%; text-align: center;">
                    <div class="span1">
                        <img src="@Url.Content("~/Content/Images/InProgress.gif")" alt="In Progress..."/>
                    </div>
                    <div class="span8" style="margin-top: 30px;">
                        Detecting WCPP utility at client side.
                        <br/>
                        Please wait a few seconds...
                        <br/>
                    </div>
                </div>


                <div id="msgInstallWCPP" style="display: none;">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <h4>
                                In order to print Utility Codes the <strong>WebClientPrint Processor (WCPP)</strong> is required.
                            </h4>

                            <p>
                                <a class="btn btn-default btn-sm" href="http://www.neodynamic.com/downloads/wcpp/" target="_blank">Download and Install </a><br />
                            </p>

                            <h4>After installing WCPP..</h4>
                            <p>
                                <a  class="btn btn-sm btn-default" href="@Url.Action("Index", "CodeGenerator", new {review = "WCPP installed. Reload page to proceed."})">Reload this page to test the installation and proceed.</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="formSection" style="display: none;" class="col-sm-12 col-md-8 col-lg-8">
                    <form id="codeGenForm" action="">

                        <input type="hidden" id="sid" name="sid" value="@Session.SessionID" />
                        @* Collect User's printer settings *@
                        <fieldset>
                            <legend>Select Printer</legend>

                            <div class="row col-md-8 col-sm-12 col-lg-6">
                                This application works with Network-shared, IP-Ethernet, and local USB <strong>Datamax</strong> [DPL] brand printers. If other printer types are necessary please contact the system administrator.
                                <br />
                                <p></p>
                                I want to:&nbsp;&nbsp;
                                <select id="pid" name="pid">
                                    <option selected="selected" value="0">Use Default Printer</option>
                                    <option value="1">Display a Printer dialog</option>
                                    <option value="2">Use an installed Printer</option>
                                    <option value="3">Use an IP/Etherner Printer</option>
                                </select>


                                <br />
                            </div>

                            <div id="installedPrinters"  style="display: none;">
                                <div id="loadPrinters" name="loadPrinters" class="row col-md-8 col-sm-12 col-lg-6">
                                    <br />
                                    WebClientPrint can detect the installed printers in your machine. <br /><a onclick=" $('#loadPrintersWait').show(); javascript:jsWebClientPrint.getPrinters(); " class="btn btn-default btn-sm">Load installed printers...</a>
                                    <br /><br />
                                </div>
                                <div class="row col-md-8 col-sm-12 col-lg-6">
                                    <span id="loadPrintersWait" style="display: none; float: left;"><img src="@Url.Content("~/Content/Images/InProgress.gif")" alt="In Progress..." /></span><br /><br />
                                    <label for="installedPrinterName">Select an installed Printer:</label>
                                    <select name="installedPrinterName" id="installedPrinterName"></select>
                                </div>


                                <script type="text/javascript">
                                    var wcppGetPrintersDelay_ms = 2000; //5 sec

                                    function wcpGetPrintersOnSuccess() {
                                        $('#loadPrintersWait').fadeOut(500);
                                        @* Display client installed printers *@
                                        if (arguments[0].length > 0) {
                                            var p = arguments[0].split("|");
                                            var options = '';
                                            for (var i = 0; i < p.length; i++) {
                                                options += '<option>' + p[i] + '</option>';
                                            }
                                            $('#installedPrinterName').html(options);
                                            $('#installedPrinterName').focus();
                                            $('#loadPrinters').hide();
                                        } else {
                                            alert("No printers are installed in your system.");
                                        }
                                    }

                                    function wcpGetPrintersOnFailure() {
                                        @* Do something if printers cannot be got from the client *@
                                        alert("No printers are installed in your system.");
                                    }
                                </script>
                                <div class="row col-md-8 col-sm-12 col-lg-6"></div>
                            </div>

                            <div id="netPrinter" class="row col-md-8 col-sm-12 col-lg-6">
                                <label for="netPrinterHost">Printer's DNS Name or IP Address:</label>
                                <input type="text" name="netPrinterHost" id="netPrinterHost" />
                                <label for="netPrinterPort">Printer's Port:</label>
                                <input type="text" name="netPrinterPort" id="netPrinterPort" />
                            </div>

                            <div class="row col-md-8 col-sm-12 col-lg-6"></div>

                        </fieldset>

                       

                        <fieldset>
                            <legend>Print</legend>
                            <div>
                                <input type="hidden" id="printerCommands" name="printerCommands" value="@ViewBag.printerCommands" />
                                <h4>Configuration settings have been saved.</h4>
                                <p><a href="#" onclick="javascript:doClientPrint();" class="btn btn-primary btn-sm">Print Label</a></p>
                            </div>



                        </fieldset>

                    </form>



                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

  

    @Html.Raw(WebClientPrint.CreateScript(Url.Action("PrintCommands", "CodeGenerator", new { sid = @Session.SessionID }, Request.Url.Scheme)))

    <script type="text/javascript" src="@Url.Content("~/scripts/formToWizard2.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/scripts/PrintCommands.js")"></script>






    <script type="text/javascript">

        var wcppPingDelay_ms = 5000;

        function wcppDetectOnSuccess() {
            @* WCPP utility is installed at the client side
                 redirect to WebClientPrint sample page *@

            @* get WCPP version *@
            var wcppVer = arguments[0];
            if (wcppVer.substring(0, 1) == "2") {
                $('#msgInProgress').hide();
                $('#formSection').show();
            } else //force to install WCPP v2.0
                wcppDetectOnFailure();
        }

        function wcppDetectOnFailure() {
            @* It seems WCPP is not installed at the client side
                 ask the user to install it *@
            $('#msgInProgress').hide();
            $('#formSection').hide();
            $('#msgInstallWCPP').show();
        }
    </script>








    @* WCPP detection script *@
    @Html.Raw(Neodynamic.SDK.Web.WebClientPrint.CreateWcppDetectionScript())

}

